<%-include('../includes/head.ejs')%>
    <link rel="stylesheet" href="/css/about.css">
    </head>
<%-include('../includes/navigation.ejs')%>
    <!-- ======= who we are Section ======= -->
    <section class=" section-bg-black margin-top-9 ">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h3 class="gold-text" style="padding-bottom:0.5rem;">Who is ENI</h3>
            </div>
            <!--right container-->
            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-start" data-aos="fade-up"
                    data-aos-delay="100">
                    <p class="letter-spacing">
                        <span class="black-color">ENI</span>
                        <span class="gray-color">(Ente Nazionale Idrocarburi)</span>
                        an integrated energy company whose dedication to the energy transition translates into tangible
                        actions aimed at
                        achieving the total decarbonization of products and processes by 2050.
                    </p>
                    <p class="letter-spacing">
                        <span class="black-color">Considered</span>
                        one of the seven supermajor oil companies in the world, Eni has operations in more than 70
                        countries.
                    </p>
                    <p class="letter-spacing">
                        <span class="black-color">We believe</span>
                        in the value of long-term partnerships with the countries
                        And communities where we operate,<br> bringing long-lasting prosperity for all.
                    </p>
                </div>
                <!-- / right container-->
    
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <div style="width: 100%;">
                        <img src="/assets/Eni_SpA.svg.png" class="img-fluid" width="460px" alt="">
                    </div>
                </div>
            </div>
    
    
        </div>
    </section><!-- End who we are Section -->
    
    <!-- ======= our mision Section ======= -->
    <section class=" section-bg-white ">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h3 class="gold-text">Our Mission</h3>
            </div>
            <!--right container-->
            <div class="row">
                <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                    <div style="width: 100%;">
                        <img src="/assets/513A3626_ENI_xlarge.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <!-- / right container-->
                <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-start" data-aos="fade-up"
                    data-aos-delay="100">
                    <p class="letter-spacing">
                        <span class="black-color">We concretely</span>
                        support a just energy transition,
                        With the objective of preserving our planet
                        And promoting an efficient and sustainable access to energy for all.
                    </p>
                    <p class="letter-spacing">
                        <span class="black-color">Our work</span>
                        is based on passion and innovation,
                        On our unique strength and skills,
                        On the equal dignity of each person,
                        Recognizing diversity
                        as a key value for human development,
                        On the responsibility, integrity and transparency of our actions.
                    </p>
                    <p class="letter-spacing">
                        <span class="black-color">We believe</span>
                        in the value of long-term partnerships with the countries
                        And communities where we operate,<br> bringing long-lasting prosperity for all.
                    </p>
                    <p class="letter-spacing margin-top-9">
                        <span class="black-color">The mission</span>
                        represents more explicitly the Eni’s path to face the global challenges, contributing to
                        achieve the SDGs determined by the UN in order to clearly address the actions to be implemented by all
                        the involved players.
                    </p>
                </div>
            </div>
    
    
        </div>
    </section><!-- End our mision Section -->
    
    
    <!-- ======= our goal Section ======= -->
    <section id="about" class="about section-bg-black ">
        <div class="container" data-aos="fade-up">
    
            <div class="section-title">
                <h3 class="gold-text">Our Goals</h3>
                <p>Global goals for a sustainable development.</p>
            </div>
            <p class="letter-spacing">The 2030 Agenda for Sustainable Development, presented in September 2015, identifies
                the 17 Sustainable
                Development Goals (SDGs) which represent the common targets of sustainable development on the current
                complex social problems. These goals are an important reference for the international community and Eni
                in managing activities in those Countries in which it operates.</p>
    
            <div class="cards-container" data-aos="fade-left">
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons1.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons2.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons3.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons4.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons5.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons6.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons7.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons8.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons9.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons10.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons11.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons12.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons13.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons14.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons15.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons16.jpg" alt="">
                </div>
                <div class="padding-bottom">
                    <img class="icon-size" src="/assets/icons17.jpg" alt="">
                </div>
    
            </div>
    
        </div>
    </section>
    <!-- End out goal Section -->
    
    
        <!-- ======= ENI's Activities Section ======= -->
        <section class=" section-bg-white ">
            <div class="container" data-aos="fade-up">
        
                <div class="section-title">
                    <h3 class="gold-text">ENI'S ACTIVITIES</h3>
                </div>
                <div class="row">
        
                    <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-start" data-aos="fade-up"
                        data-aos-delay="100">
        
                        <p class=" letter-spacing">
                            <span class="black-color">Eni</span> is a global energy company that
                            operates along the entire value chain: from
                            exploration, development and extraction
                            of oil and natural gas, to generation of
                            electricity from cogeneration and renewable
                            sources, traditional and bio refining and
                            chemicals, to the development of circular
                            economy processes. Eni extends its reach
                            to end markets, selling gas, electricity and
                            products to retail and business customers
                            and local markets.
                        </p>
                        <p class="  letter-spacing"><span class="black-color">Both CO<sub>2</sub> </span> capture and storage
                            initiatives
                            and forest conservation projects (REDD+
                            initiatives) will be implemented to absorb
                            residual emissions.</p>
                        <p class="  letter-spacing"><span class="black-color"> Consolidated </span> expertise, technologies and
                            geographical distribution of assets are Eni’s
                            levers to strengthen its presence along
                            the value chain. </p>
                        <p class="  letter-spacing">
                            <span class="black-color">this path</span>
                            Eni has
                            committed to becoming a leading company
                            in the production and sale of decarbonised
                            energy products, increasingly customer-
                            oriented, through:
                            <br>
        
                            <span class="black-color">
                                <span class="bold-text">&#8594;</span>
                                Bio-refineries
                            </span>
                            where production capacity
                            is expected to grow to
                            <span class="black-color">
                                5-6 million tonnes by 2050
                            </span>
                        </p>
                    </div>
        
        
        
        
                    <!--right container-->
                    <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                        <div style="width: 100%;">
                            <img src="/assets/Screenshot_1.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <!-- / right container-->
                    <div id="reverse-content" class="d-flex">
        
                        <!--left container-->
                        <div class="col-lg-6 margin-top-9 " data-aos="fade-right" data-aos-delay="100">
                            <div style="width: 100%;">
                                <img src="/assets/1648070126687-1.jpg" class="img-fluid" alt="">
                            </div>
                        </div>
                        <!-- / left container-->
                        <div class="col-lg-6 pt-4 pt-lg-0 pl-15 margin-top-9 content d-flex flex-column justify-content-start"
                            data-aos="fade-up" data-aos-delay="100">
                            <p class="letter-spacing">
                                Eni will
                                <span class="black-color">
                                    be palm-oil free by 2023, </span>
                                with an increasing input of raw materials
                                from waste and scrap that will account for
                                around 80% of the total in 2024 compared
                                to 20% today
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Circular economy
                                </span>
                                with increased use of
                                biomethane, waste products and recycling
                                of end products
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Efficiency and digitalisation
                                </span>
                                in operations
                                and customer services
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Renewables
                                </span>
                                with an increase in capacity
                                to
                                <span class="black-color">
        
                                    60 GW by 2050
                                    , fully integrated with
                                    Eni’s customers
                                </span>
        
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Blue and green hydrogen
                                </span>
                                to power Eni
                                biorefineries and other highly energy-
                                intensive industrial activities
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Natural or artificial carbon capture
                                </span>
                                to
                                absorb residual emissions through
                                <span class="black-color">
                                    REDD+
                                </span>
                                forest conservation
                                <span class="black-color">
                                    initiatives
                                </span> and
                                <span class="black-color">
                                    CCS
                                </span> projects.
        
                            </p>
                            <p class="letter-spacing">
                                <span class="black-color">
                                    <span class="bold-text">&#8594;</span>
                                    Gas
                                </span>
                                ,which in the long term
                                <span class="black-color">
                                    will account for
                                    more than 90% of Eni’s production
                                </span>
                                , will be
                                an important support for intermittent sources
                                in the energy transition.
                            </p>
                        </div>
                    </div>
                </div>
        </section><!-- End ENI's Activities Section -->
        <%-include('../includes/end.ejs') %>
                <script src="/js/non-home.js"></script>