<%-include('../includes/head.ejs')%>
</head>
<%-include('../includes/navigation.ejs')%>
<div class="" style="margin-top:200px;"></div>
<div class="container">
    <h1>Hello Resources</h1>
</div>
<div class="" style="margin-bottom:332px;"></div>
<%-include('../includes/end.ejs') %>
<script src="/js/non-home.js"></script>