<%-include('../includes/head.ejs')%>
<link rel="stylesheet" href="/css/sent.css">
    </head>
    <%-include('../includes/navigation.ejs')%>
    <div class="" style="margin-top:120px"></div>
<section class="mail-success section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="success-inner">
                    <h1><i class="fa fa-envelope"></i><span>Your Mail  Was Sent Successfully!</span></h1>
                    <p>Thanks for contacting us.</p>
                    <a href="/" class="btn btn-warning btn-lg">Return To Home</a>
                </div>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>
<div style="height:3.5vh;"></div>
        <%-include('../includes/end.ejs') %>
                <script src="/js/non-home.js"></script>