<%-include('./includes/head.ejs')%>
<link rel="stylesheet" href="/css/500.css">
    </head>
    <%-include('./includes/navigation.ejs')%>
        <!-- <h1>Some error occured!</h1>
        <p>We 're working on fixing this,sorry for the inconvenience.</p> -->
        <div class="error-wall">
                <h1>oh no...</h1>
                <h3>Some error occured!</h3>
                <h4>Server Error</h4>
                <p>We 're working on fixing this, Sorry for the inconvenience.</p>
        </div>
        <div class="" style="height:59.9vh"></div>
        <%-include('./includes/end.ejs') %>
        <script src="/js/non-home.js"></script>