<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container ps-2">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>ENI<span>.</span></h3>   
                    <p>
                        We are an energy company. We concretely support a just energy transition, with the objective of
                        preserving our planet
                        and promoting an efficient and sustainable access to energy for all. We believe in the value of
                        long term
                        partnerships with the countries and communities where we operate, bringing long-lasting
                        prosperity for all. <br>
                        <strong>Email:</strong> test@test.com
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>USEFUL LINKS</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/about-us">Who We Are</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/sust-dev">Sustainable Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contacts</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>SUSTAINABILITY DEVELOPMENT</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Youth Center</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Applied Technology School</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Health Center</a></li>
                        <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Renweable Energy</a></li> -->
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>ENI ON SOCIAL MEDIA</h4>
                    <p>Learn more about ENI Through These Popular Social Media Sites</p>
                    <div class="social-links mt-3">
                        <a href="https://twitter.com/eni" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="https://www.youtube.com/user/enivideochannel" class="google-plus"><i
                                class="bx bxl-youtube"></i></a>
                        <a href="https://www.linkedin.com/company/eni/" class="linkedin"><i
                                class="bx bxl-linkedin"></i></a>
                        <a href="https://www.instagram.com/eni/" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="https://www.facebook.com/EniItalia" class="facebook"><i
                                class="bx bxl-facebook"></i></a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</footer><!-- End Footer -->



<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="/vendor/waypoints/jquery.waypoints.min.js"></script>
<script src="/vendor/counterup/counterup.min.js"></script>
<script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/vendor/venobox/venobox.min.js"></script>
<script src="/vendor/aos/aos.js"></script>

<script src="/js/main.js"></script>
</body>

</html>